apiVersion: v1
kind: ConfigMap
metadata:
  name: vmagent-config-0
  namespace: default
data:
  relabel.yaml: |
    - source_labels: [job]
      target_label: job
      replacement: $1
    - source_labels: [__name__]
      target_label: __name__
      replacement: k8s_$1
  prometheus.yaml: |
    global:
      scrape_interval: 30s
      scrape_timeout: 10s

    scrape_configs:
    - job_name: myapp
      metrics_path: /metrics
      scheme: http

      kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names:
          - default

      relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        regex: myapp
        action: keep

      - source_labels: [__meta_kubernetes_endpoint_port_name]
        regex: metrics
        action: keep

      - source_labels: [__meta_kubernetes_namespace]
        target_label: namespace

      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod

      - source_labels: [__meta_kubernetes_service_name]
        target_label: service

      - target_label: job
        replacement: myapp
